<!DOCTYPE html>

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Content-Language" content="en"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <title><%= htmlWebpackPlugin.options.title %></title>

    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="<%= htmlWebpackPlugin.options.cover %>"/>
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.homepage %>"/>
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>"/>

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.title %>"/>
    <meta name="twitter:description" content="<%= htmlWebpackPlugin.options.description %>"/>
    <meta name="twitter:image" content="<%= htmlWebpackPlugin.options.cover %>"/>
  </head>

  <body>
  </body>
</html>