//====================================================|
// HOME PAGE


//--------------------------| Root

.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


//--------------------------| Main

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
}


//--------------------------| Section

.section:last-child {
  display: flex;
  flex: 1;
  flex-direction: column;

  > * {
    flex: 1;
  }
}
