//====================================================|
// HOME PAGE


.pt-homepage {

  //--------------------------| Base

  display: flex;
  flex-direction: column;
  min-height: 100vh;


} // .pt-homepage


//--------------------------| Main

.pt-homepage--main {
  display: flex;
  flex: 1;
  flex-direction: column;
}


//--------------------------| Section

.pt-homepage--section:last-child {
  display: flex;
  flex: 1;
  flex-direction: column;

  > * {
    flex: 1;
  }
}
