//====================================================|
// META


.pa-meta {

  //--------------------------| Base

  font-size: map-get($roles-typo-font-sizes, 'meta');
  font-weight: map-get($roles-typo-font-weights, 'meta');
  color: map-get($roles-col-texts, 'meta');


} // .pa-meta
