//====================================================|
// BUTTON GROUP


//--------------------------| Root

.root {
  padding: 0;
  margin: 0;

  .item {
    list-style: none;
  }

  .button {
    display: block;
  }
}
