//====================================================|
// BUTTON


//--------------------------| Variables

$btn-font-size: map-get($roles-typo-font-sizes, 'button');
$link-color: map-get($roles-col-links, 'link');
$white-color: map-get($reg-backgrounds, 'white');
$hover-color: rgba($link-color, 0.7);
$marked-color: map-get($reg-colors, 'yellow');
$selected-color: $link-color;
$shadow: 1px 1px 1px map-get($reg-colors, 'graphite');


//--------------------------| Root

.root {
  display: inline-block;
  padding: 0.1em 0;
  text-align: left;
  white-space: nowrap;
  cursor: pointer;

  > span {
    display: block;
    padding: 0 1em;
    font-size: $btn-font-size;
    line-height: 2em;
    color: $link-color;
    background-color: map-get($reg-backgrounds, 'white');
    border-radius: 0.2em;
    transition: all map-get($roles-transitions, 'glow') ease-in-out;
  }

  @media (hover: hover) {
    &:hover {
      > span {
        color: $white-color;
        background-color: $hover-color;
      }
    }
  }
}


//--------------------------| States

.root.marked {
  > span {
    color: map-get($roles-col-texts, 'system');
    background-color: $marked-color;
    box-shadow: $shadow;
  }
}

.root.selected {
  > span {
    color: $white-color;
    background-color: $selected-color;
  }
}
