// =========================| Button |========================= //



.pa-button {

  //--------------------------| Variables

  $btn-font-size: map-get($roles-typo-font-sizes, 'button');
  $link-color: map-get($roles-col-links, 'link');
  $white-color: map-get($reg-backgrounds, 'white');


  //--------------------------| Base

  display: inline-block;
  padding: .1em 0;
  text-align: left;
  white-space: nowrap;
  cursor: pointer;

  > span {
    @include transition(all map-get($roles-transitions, 'glow') ease-in-out);
    @include border-radius(.2em);

    display: block;
    padding: 0 1em;
    font-size: $btn-font-size;
    line-height: 2em;
    color: $link-color;
    background-color: map-get($reg-backgrounds, 'white');
  }


  //--------------------------| States

  @media (hover: hover) {
    &:hover {
      > span {
        color: $white-color;
        background-color: rgba($link-color, .7);
      }
    }
  }

  &.active {
    > span {
      color: $white-color;
      background-color: $link-color;
    }
  }


} // .pa-button
