//====================================================|
// MIXINS: HELPERS


//--------------------------| Padding

@mixin padding-v($value) {
  padding-top: $value;
  padding-bottom: $value;
}

@mixin padding-h($value) {
  padding-right: $value;
  padding-left: $value;
}


//--------------------------| Margin

@mixin margin-v($value) {
  margin-top: $value;
  margin-bottom: $value;
}

@mixin margin-h($value) {
  margin-right: $value;
  margin-left: $value;
}


//--------------------------| Border

@mixin border-v($value) {
  border-top: $value;
  border-bottom: $value;
}

@mixin border-h($value) {
  border-right: $value;
  border-left: $value;
}


//--------------------------| Scaler

@mixin scaler($property, $min-size) {
  $ratio-w: map-get($reg-proportions-app, 'w');
  $ratio-h: map-get($reg-proportions-app, 'h');
  $ratio: $ratio-w / $ratio-h; // 0.5625
  $ratio-width: map-get($reg-screens, 'min-w');
  $ratio-height: 100 * ($ratio-width / $ratio) / 90;

  @if unit($ratio-height) == unit($min-size) {
    & {
      @include mq-proportions-min-height() {
        #{$property}: #{($min-size * 100 / $ratio-height)}vh;
      }

      @include mq-screens-small-portrait() {
        #{$property}: #{($min-size * 100 / $ratio-width)}vw;
      }

      @include mq-proportions-max-width-or-max-height() {
        #{$property}: $min-size;
      }
    }
  }
}
