//====================================================|
// CONTROLLERS


//--------------------------| Variables

$offset: get-em-unit(map-get($roles-offsets, 'controllers'));


//--------------------------| Root

.root {
  padding: $offset;
  background-color: map-get($reg-backgrounds, 'pale-silver');

  > .flex {
    @include justify-content(center);
  }
}


//--------------------------| Columns

.column {
  max-width: 13.4em;

  > div + div {
    margin-top: $offset;
  }
}

.column:not(:nth-child(2)) {
  @include flex(1);
}

.column:nth-child(2) {
  @include align-self(center);

  padding: 0 1em;
}
