//====================================================|
// EXTERNAL: CUSTOM SCROLLBAR


:global {

  .rcs-custom-scroll {

    //--------------------------| Base

    background-color: map-get($reg-backgrounds, 'pale-silver');


    //--------------------------| Handle

    .rcs-custom-scroll-handle {
      pointer-events: all;
      cursor: pointer;
    }


    //--------------------------| Bar

    .rcs-inner-handle {
      background-color: rgba(map-get($reg-colors, 'black'), 0.3);
      transition: background-color 0.15s linear;

      &:hover,
      &:active {
        background-color: rgba(map-get($reg-colors, 'black'), 0.6);
      }
    }

  } // .rcs-custom-scroll

} // :global
